[submodule "kernel"]
	path = kernel
	url = git@github.com:bitweaver/kernel.git
[submodule "languages"]
	path = languages
	url = git@github.com:bitweaver/languages.git
[submodule "liberty"]
	path = liberty
	url = git@github.com:bitweaver/liberty.git
[submodule "storage"]
	path = storage
	url = git@github.com:bitweaver/storage.git
[submodule "themes"]
	path = themes
	url = git@github.com:bitweaver/themes.git
[submodule "users"]
	path = users
	url = git@github.com:bitweaver/users.git
[submodule "util"]
	path = util
	url = git@github.com:bitweaver/util.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:bitweaver/wiki.git
[submodule "install"]
	path = install
	url = git@github.com:bitweaver/install.git
[submodule "config/themes/bootstrap"]
	path = config/themes/bootstrap
	url = git@github.com:bitweaver/theme_bootstrap.git
[submodule "config/externals/adodb"]
	path = config/externals/adodb
	url = git@github.com:bitweaver/adodb.git
[submodule "inventory"]
	path = inventory
	url = git@github.com:bitweaver/meta.git
[submodule "feed"]
	path = feed
	url = git@github.com:bitweaver/feed.git
[submodule "photos"]
	path = photos
	url = git@github.com:bitweaver/fisheye.git
[submodule "cryptifier"]
	path = cryptifier
	url = git@github.com:bitweaver/cryptifier.git
[submodule "search"]
	path = search
	url = git@github.com:bitweaver/ilike.git
